.th_container{
  transition: 2s right ease;
  animation-direction: alternate;
  transform-origin: 100%;
  transition-duration: 2s;
  .homebg{
    width: 100vw;
      height: 50vh;
      position:relative;
      margin: 0%;
      transition: all .5s linear;
      z-index: 0;
      background-size: cover;
      object-fit: cover;
      background-position: center;
  }
}
