.laptop{
  width: 100%;
  transition: all 1s ease-in;
}
.changebg{
  background-color: rgba(0, 0, 0, 0.5);
}

a{
  cursor: pointer;
  &.active{
    padding: 5px 10px;
    border:1px solid white;
    border-radius: 5px;
    margin: 0;
  }
  :hover{
    color: white;
  }
}

.mobile{
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 0.7s;
}
button{
  transition-delay: 1s;
  transform: rotate3d(180);
}
