.laptop{
  width: 100%;
  transition: all 1s ease-in;
}
.changebg{
  background-color: rgba(0, 0, 0, 0.7);
}

a{
  cursor: pointer;
  &.active{
    padding: 5px 10px;
    border:1px solid white;
    border-radius: 5px;
    margin: 0;
  }
  :hover{
    color: white;
  }
}

.mobile{
  transition: all 2s ease-out;
  transition-delay: 1s;
}
button{
  transition: all 2s ease-out;
  transition-delay: 2s;
}
