<app-layout>
  <div class="bg-gray-100 relative th_container">
    <div *ngFor="let data of datafb;let i = index" class="mb-10">
      <div class="homebg items-center" style="background-image: url('../../../assets/images/projectfb/{{data[0]}}');">
        <p class="text-2xl absolute text-end right-0 pr-10 pl-32 font-bold ml-12 bg-gray-700 text-white py-2 top-32">DỰ ÁN F&B</p>
      </div>
      <div class="w-full flex absolute mb-4">
        <div class="w-full flex absolute bottom-12 justify-center">
          <h2 class="text-4xl text-white text-center font-semibold p-6 rounded-xl" style="background-color: rgba(0, 0, 0,0.5); ">{{data[1]}}</h2>
        </div>
      </div>
      <div class="w-full relative">
        <div class="text-center">
          <h2 class="my-5 text-2xl" style=" font-family: Arial, Helvetica, sans-serif;">{{data[2]}}</h2>
          <p class="text-md" style="font-family: Helvetica;opacity:0.9">
            {{data[3]}} <br>
            {{data[4]}} <br>
            {{data[5]}} <br>
          </p>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 w-auto py-4 px-8 xl:px-16">
          <div class="justify-start items-center w-full h-full cursor-pointer" *ngFor="let img of dataimg[i]">
            <div class="relative w-full transition-all duration-300 cursor-pointer">
              <a style="cursor:pointer">
                  <img class="rounded-lg w-full xl:h-[250px] drop-shadow-xl" src="../../../assets/images/projectfb/{{img[0]}}" alt="{{data[1]}}" />
              </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
